<a href="https://colab.research.google.com/github/CypherTyphoon/Machine-KI_Learning/blob/main/Tag6_Montag_08042024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Variablen und Datentypen
name = "Stefan"
alter = 36
groesse = 1.75

# 2. Ausgabe von Variablen
print(name)
print(alter)
print(groesse)

# 3. Datentypkonbertierung
alter_text = str(alter)
groesse_integer = int(groesse)

# 4 Typüberprüfung
print(type(name))
print(type(alter))
print(type(groesse))

Stefan
36
1.75
<class 'str'>
<class 'int'>
<class 'float'>

In [3]:
# import pandas as pb
import pandas as pd

# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']

# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks 0 3

In [6]:
# import pandas as pb
import pandas as pd

# list of strings
data = {'Name':['tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}

# Calling DataFrame constructor on list
df = pd.DataFrame(data)
print(df)

    Name  Age
0    tom   20
1   nick   21
2  krish   19
3   jack   18

In [8]:
# import pandas as pb
import pandas as pd

# list of strings
data = {'name':['Jai', 'Princi', 'Gaurav', 'Anju'],
        'age':[27, 24, 22, 32],
        'address':['Dehli', 'Kanpur', 'Allahabad', 'Kannauj'],
        'qualification':['Msc', 'MA', 'MCA', 'Phd']}

# Convert
df = pd.DataFrame(data)

# Calling DataFrame constructor on list
print(df[['name', 'qualification']])

     name qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anju           Phd