<a href="https://colab.research.google.com/github/CypherTyphoon/Machine-KI_Learning/blob/main/Tag6_Montag_08042024_Teil2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd

df = pd.read_csv("imdb.csv")

# print(df)

# Inspect
# print(df.head())
# print(df.info())
# print(df.describe())

#Select a column
#print(df["name"])

#Select multiple columns
# ab = df[["name", "imdb_rating"]]
#  print(ab)

#Select a specific row
# print(df.iloc[2])

#Select multiple rows
print(df.loc[2:4])

  id                                       name   genre    year  imdb_rating
2  3                               The Avengers  action  2012.0          8.1
3  4                            The Dark Knight  action  2008.0          9.0
4  5  Star Wars: Episode I - The Phantom Menace  action  1999.0          6.6